@model IReadOnlyList<ObjetoEscuelaBase>

@{
}

<table>
    <thead class="table table-dark table-hover">
        <tr>
            <th scope="col">Id: </th>
            <th scope="col">Name: </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var baseObj in @Model)
        {
            <tr>
                <td>@baseObj.Id</td>
                <td>@baseObj.Name</td>
            </tr>
        }
    </tbody>
</table>

